*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  padding-bottom: 30px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 35px;
  width: 100vw;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4056b4;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.search-form {
  display: flex;
  height: 30px;
  width: 300px;
  border-radius: 3px;
  overflow: hidden;

  &:focus-within {
    box-shadow: 0 0 0 2px #6090e2;
  }

  input {
    flex-grow: 1;
    padding: 0 8px;
    border: none;

    &:focus-visible {
      outline: none;
    }
  }

  button {
    width: 35px;
    border: none;
    background-color: #f1eff1;
    cursor: pointer;
  }
}

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);

  margin-bottom: 10px;
  padding: 20px;

  @media screen and (max-width: 1500px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 620px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.photo-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.info {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  padding: 10px 20px;

  @media screen and (max-width: 750px) {
    font-size: 13px;
  }
}

.info-item {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  line-height: 1.5;
}

.load-more {
  display: none;
  margin: 0 auto;
  padding: 12px 30px;

  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  background-color: #4056b4;
  cursor: pointer;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 100ms linear, transform 100ms linear;

  &:hover {
    box-shadow: none;
    transform: translate(1px, 1px);
  }
}
